body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 1 auto;
  background: darkmagenta;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
}

.footer {
  background: #eee;
  color: darkmagenta;
  text-align: center;
  padding: 24px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 200px;
  flex: 0 0 auto;
}

.a {
  display: flex;
  flex: 1 1 auto;
}

.sidebar {
  flex-shrink: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 16px;
  margin: 0;
}

ul li {
  margin-bottom: 16px;
}

.b {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 48px;
}