* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: 1.4fr 1fr 12fr 1fr;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 24px;
}

.menu li {
  list-style-type: none;
}
.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / 4 / 2;

  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar .photo, .sidebar .side-content {
  flex-grow: 1;
}
.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / 3 / -1;
  display: flex;
  align-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav li {
  list-style-type: none;
  flex-grow: 1;
}
.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / 4 / -1;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  align-content: stretch;
  
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  min-height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1/ 5 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}